CompileFlags:
  CompilationDatabase: z:/dv/_bld/dip-ninja-cl-dbg
  Add:
    - -IZ:/dv/dip/src/extern
    - -IZ:/dv/dip/src/extern/tiny-process-library
    - -Wunused-variable
    - -Wunused-parameter
    - -Wunused-function

Diagnostics:
  ClangTidy:
    Add: [bugprone-use-after-move]
  Suppress:
    - operator_overload_needs_class_or_enum
